header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

header ul li{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    margin-right: 25px;
    list-style-type: none;
    color: #fff;
}
header ul{
    display: flex;
}


